<?php

return array(
    'VIRTUAL_HOST' => 'api.icoordinator.com',
    'WEB_BASE_URL' => 'https://icoordinator.com',
    'REALTIME_SERVER_URL' => 'http://realtime.icoordinator.com',

    'DB_PDO_DRIVER' => 'pdo_mysql',
    'DB_HOST' => '',
    'DB_NAME' => 'icoordinator',
    'DB_USER' => '',
    'DB_PASSWORD' => '',
    'DB_PORT' => '',

    'FILE_STORAGE_TYPE' => 'S3',
    'FILE_STORAGE_AES_KEY' => '',
    'TOKEN_AES_KEY' => '',
    'AWS_ACCESS_KEY_ID' => '',
    'AWS_SECRET_ACCESS_KEY' => '',
    'FILE_STORAGE_S3_BUCKET_NAME' => '',
    'UPLOADS_STORAGE_S3_BUCKET_NAME' => '',
    'S3_REGION' => 'eu-west-1',

    'SFTP_HOST' => '',
    'SFTP_PORT' => '',
    'SFTP_USERNAME' => 'sftp',
    'SFTP_PASSWORD' => 'sftp',
    'SFTP_PATH' => '/data',
    'SFTP_UPLOADS_PATH' => '/data',

    'MANDRILL_API_KEY' => '',
    'INBOUND_EMAIL_HOST' => 'in.icoordinator.com',

    'CHARGIFY_IC_TEST_API_ID' => '',
    'CHARGIFY_IC_TEST_API_SECRET' => '',
    'CHARGIFY_IC_TEST_API_PASSWORD' => '',

    'CHARGIFY_IC_EUR_API_ID' => '',
    'CHARGIFY_IC_EUR_API_SECRET' => '',
    'CHARGIFY_IC_EUR_API_PASSWORD' => '',

    'CHARGIFY_IC_SEK_API_ID' => '',
    'CHARGIFY_IC_SEK_API_SECRET' => '',
    'CHARGIFY_IC_SEK_API_PASSWORD' => '',

    'CHARGIFY_IC_USD_API_ID' => '',
    'CHARGIFY_IC_USD_API_SECRET' => '',
    'CHARGIFY_IC_USD_API_PASSWORD' => '',

    'CHARGIFY_BIMC_EUR_API_ID' => '',
    'CHARGIFY_BIMC_EUR_API_SECRET' => '',
    'CHARGIFY_BIMC_EUR_API_PASSWORD' => '',

    'CHARGIFY_BIMC_USD_API_ID' => '',
    'CHARGIFY_BIMC_USD_API_SECRET' => '',
    'CHARGIFY_BIMC_USD_API_PASSWORD' => '',

    'CHARGIFY_BIMC_SEK_API_ID' => '',
    'CHARGIFY_BIMC_SEK_API_SECRET' => '',
    'CHARGIFY_BIMC_SEK_API_PASSWORD' => '',

    'REDIS_HOST' => '',
    'REDIS_PORT' => '',

    'UPLOAD_MAX_EXECUTION_TIME' => 300,
    'DOWNLOAD_MAX_EXECUTION_TIME' => 300,
    'ACCESS_LIFETIME' => 3600
);
